# Empty CSS file for your own CSS

.row {
  background-color: green;
}
#myMenu{
  color: blue;
}

.text-center {
}

.navbar-header {
  left:calc(50% - 45px);
  position: absolute;
  padding:0;
  top:-30px;
}
