<!DOCTYPE html>
<html>
<head>
  <title> CofFeeFind </title>
  
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{{ url_for('static', filename = 'css/styleqa.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename = 'jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>



<body>

  <section id = "top-box" style = "background-color: #FF5733; margin-top:0px">
    <div class = "align-center">
      <a class="navbar-brand" href="#"> <img src = "{{ url_for('static', filename='logo-1.png') }}" alt =""> </a>
    </div>
    <h1 class="align-center"> Find a coffee shop...</h1>
    <div class="input-group md-form form-sm form-2 pl-0" id="search-box">
      <input class="form-control my-0 py-1"  type="text" onkeyup="myFunction()" placeholder="Search" id="search-bar" >

      <div class="input-group-append">
        <button class="input-group-text lime lighten-2" ><i class="fas fa-search text-grey" aria-hidden="true"></i></button>
      </div>
      <div class="dropdown">
        <button  style = "background-color: ;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Distance</a>
          <a class="dropdown-item" href="#">Rating</a>
          <a class="dropdown-item" href="#">Price</a>
        </div>
      </div>
    </div>
    <ul id="myUL" style = "display:none;" >
      <li><a href="#" id ="li1">Tous les Joures</a></li>
      <li><a href="#" id ="li2">Dunkin Donuts</a></li>

      <li><a href="#" id ="li3">Twosome Place</a></li>
      <li><a href="#" id ="li4">Coffee Bean</a></li>

      <li><a href="#" id ="li5">Smoothie King</a></li>
      <li><a href="#" id ="li6">Droptop</a></li>
      <li><a href="#" id ="li7">Angel in the U.S.</a></li>
      <li><a href="#" id ="li8" action = "food.html" onclick = "questionFunction('food2')">Mango Six</a></li>
    </ul>
    <div id="noResults" style="display:none;">No results found</div>

  </section>

  <div class="container-fluid">
    <div class = "row" style = "width: 80%; margin-left:10%; ">
      <div class="col-md-6" style = "border: 1px solid grey">
        <h3> NAME OF THE COFFEE SHOP </h3>
      </div>
      <div class="col-md-3" style = "border: 1px solid grey">
        <h3>LOCATION </h3>
      </div>
      <div class="col-md-3" style = "border: 1px solid grey">
        <h3> RATING </h3>
      </div>
    </div>
    <div class = "row" style = "width: 80%; margin-left:10%; ">
      <div class="col-md-6" style = "border: 1px solid grey">
        <p> Name from DB </p>
      </div>
      <div class="col-md-3" style = "border: 1px solid grey">
        <p> Location from DB </p>
      </div>
      <div class="col-md-3" style = "border: 1px solid grey">
        <p> Rating from DB </p>
      </div>
    </div>

  </div>

<script> 
  var menus = `{{ menus }}`
  var customers = `{{ customers }}`
  var reviews = `{{  reviews }}`;
  var locations = `{{  locations }}`;

</script>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'jquery/js/jquery-1.9.0.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'jquery/js/jquery-ui-1.10.0.custom.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/main.js') }}" ></script>
</body>

</html>
